.menu_botoes > ul{
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

.menu_botoes > ul > li{
    list-style-type: none;
    font-size: 24px;
}

.menu_botoes > ul > li > a{
    color: var(--branco);
    text-decoration: none;
    cursor: pointer;
}

.menu_botoes > ul > li > a:hover{
    transition: .3s;
    color: var(--vermelho);
}

.btn_white{
    color: var(--preto);
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    border: 3px solid transparent;
    background-color: var(--branco);
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.521);
}

.btn_white:hover{
    transition: .2s;
    margin-left: 30px;
    color: var(--vermelho);
    border: 3px solid var(--vermelho);
}


/* main */

.botoes_sobre{
    margin-top: 60px;
    padding: 10px;
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.btn_red{
    border: none;
    padding: 10px 40px;
    font-size: 18px;
    color: var(--preto);
    border: 3px solid var(--preto);
    background-color: var(--vermelho);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.397);
}

.btn_red:hover{
    transition: .2s;
    color: var(--branco);
    border: 3px solid var(--vermelho);
}