@font-face {
    font-family: OpenDyslexicMono-Regular;
    src: url(../fonts/OpenDyslexicMono-Regular.otf);
}

*{
    font-family: OpenDyslexicMono-Regular;
}

.nav_inicial{
    display: flex;
}

.img_mich{
    max-width: 300px;
    height: 300px;
    background-image: url("../img/mich.png");
    background-position: center;
    background-size: 67%;
    background-repeat: no-repeat;
    border-radius: 100%;
}

.container_nav_1{
    width: 40%;
    background-color: var(--vermelho);
    padding: 20px;
}

.container_nav_2{
    width: 60%;
    background-color: var(--preto);
    color: var(--branco);
    padding: 30px;
}

.text_nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text_nav > p{
    margin-bottom: 50px;
    max-width: 300px;
    text-align: justify;
}